/*Bdoy Styling*/
body {
    background-image: url("../Images/BackgroundImage.jpg");
    font-family: 'Times New Roman', Times, serif;
    font-size: 13pt;
    color: black; 
}    
/*Main navigation Styling*/
#mainNav ul {
    list-style-type: none;
    margin-top: 0;
    margin-left: 10%;
    padding: 27px;
    overflow: hidden;
    background-color: #306a82;
}  
/*Main navigation li tag Styling*/
#mainNav li {
    float: left;
}      
/*Main navigation "a" tag Styling*/    
#mainNav li a {
    display: block;
    color: black;
    text-align: top;
    padding:14.3px 25px;
    text-decoration: none;
}     
/*Main navigation hover Styling*/    
#mainNav li a:hover:not(.active) {
    background-color: #80cff0;
    transition: 0.5s;
}
/*Heading Styling*/
h2{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
/*Paragraph Styling*/
p {
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 13pt;
    color: black;
}
figcaption{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
/*Links Hovering Styling 
/* unvisited link */
a:link {
    color: blue;
}  
/* Visited link */
a:visited {
    color: purple;
}  
/* Mouse over link */
a:hover {
    color: red;
}  
/* Selected link */
a:active {
    color: black;
}
/*Table Styling*/
table, td, th {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 14pt;
    border: 5px solid #306a82;
    margin: 0px;
    padding: 0px;
}  
table {
    width: 100%;
    border-collapse: collapse;
}
#tFooterO td{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14pt;
    text-align:right;
    border: none;
    background-color: #306a82;
}
#tFooterT td{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14pt;
    text-align:right;
    border: none;
    background-color: #306a82;
}
/*Foot navigation Styling*/
#footerNav ul {
    list-style-type: none;
    margin: 0;
    padding: 27px;
    overflow: hidden;
    background-color: #306a82;
}
/*Foot navigation li tag Styling*/  
#footerNav li {
    float: center;
}
/*Foot navigation "a" tag Styling*/  
#footerNav li a {
    display: block;
    color: black;
    text-align: center;
    padding:14px 15px;
    text-decoration: none;
}
/*Foot navigation hover Styling*/ 
#footerNav li a:hover:not(.active) {
    background-color: #80cff0;
    transition: 0.5s;
}

/*Mobile responsive Styling*/
/*Main Navigation Styling for mobile*/
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) 
{ 
/*Logo Image Styling*/    
#mainHeader img{
    width: 164px;
    height: 102px;
    border-top: 85px solid #306a82;
    border-bottom: 85px solid #306a82;
}

/*Main navigation Styling*/
#mainNav ul {
    list-style-type: none;
    margin-left: center;
    padding: 0;
    width: 205px;
    background-color:#306a82;
}  
/*Main navigation li tag Styling*/
#mainNav li {
    float: left;
}      
/*Main navigation "a" tag Styling*/    
#mainNav li a {
    display:block;
    color: black;
    text-align: center;
    padding:14px 15px;
    text-decoration: none;
}     
/*Main navigation hover Styling*/    
#mainNav li a:hover:not(.active) {
    background-color: #80cff0;
    transition: 0.5s;
}
body {
    background-image: url("../Images/BackgroundImage.jpg");
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 13pt;
    color: black;
} 
/*Image styling*/
img{
    width: 250px;
    height: auto;
}
/*Table Styling*/
table, td, th {
    display: grid;
    grid-template: auto;
    grid-template-columns: auto;
    grid-template-rows: auto;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    margin: 0px;
    font-size: 12pt;
    border: 1px solid #306a82 ;
    margin: 1px;
    padding: 2px;
}  
table {
    width: 100%;
    border-collapse: collapse;
}
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) 
{ /*Logo Image Styling*/    
#mainHeader img{
    width: 105px;
    height: 65px;      
    border-top: 85px solid #306a82;
    border-bottom: 90px solid #306a82;
}
/*Main navigation Styling*/
#mainNav ul {
    list-style-type: none;
    margin-left: center;
    padding: 0;
    width: 205px;
    background-color: #306a82;
}  
/*Main navigation li tag Styling*/
#mainNav li {
    float: left;
}      
/*Main navigation "a" tag Styling*/    
#mainNav li a {
    display:block;
    color: black;
    text-align: center;
    padding:14px 15px;
    text-decoration: none;
}     
/*Main navigation hover Styling*/    
#mainNav li a:hover:not(.active) {
    background-color: #80cff0;
    transition: 0.5s;
}
/*Body Styling*/
body {
    background-image: url("../Images/BackgroundImage.jpg");
    margin: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 13pt;
    color: black;
}
/*Image styling*/
img{
    width: 205px;
    height: auto;
}
/*Table Styling*/
table, td, th {
    display: grid;
    grid-template: auto;
    grid-template-columns: auto;
    grid-template-rows: auto;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    margin: 0px;
    font-size: 12pt;
    border: 1px solid #306a82;
    margin: 1px;
    padding: 2px;
}  
table {
    width: 100%;
    border-collapse: collapse;
}
}
@media only screen and (min-device-width: 360px) and (max-device-width: 640px) 
{
/*Logo Image Styling*/    
#mainHeader img{
    width: 135px;
    height: 90px;     
    border-top: 75px solid #306a82;
    border-bottom: 75px solid #306a82;
}
/*Main navigation Styling*/
#mainNav ul {
    list-style-type: none;
    margin-left: center;
    padding: 0;
    width: 218px;
    background-color: #306a82;
}  
/*Main navigation li tag Styling*/
#mainNav li {
    float: left;
}      
/*Main navigation "a" tag Styling*/    
#mainNav li a {
    display:block;
    color: black;
    text-align: center;
    padding:14px 15px;
    text-decoration: none;
}     
/*Main navigation hover Styling*/    
#mainNav li a:hover:not(.active) {
    background-color: #80cff0;
    transition: 0.5s;
}
/*Body Styling*/
body {
    background-image: url("../Images/BackgroundImage.jpg");
    margin: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 13pt;
    color: black;
}   
/*Image styling*/
img{
    width: 260px;
    height: auto;
}
/*Table Styling*/
table, td, th {
    display: grid;
    grid-template: auto;
    grid-template-columns: auto;
    grid-template-rows: auto;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    margin: 0px;
    font-size: 12pt;
    border: 1px solid #306a82;
    margin: 1px;
    padding: 2px;
}  
table {
    width: 100%;
    border-collapse: collapse;
}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) 
{
/*Logo Image Styling*/    
#mainHeader img{
    width: 135px;
    height: 90px;   
    border-top: 0; 
}
/*Main navigation Styling*/
#mainNav ul {
    list-style-type: none;
    margin-left: 0px;
    padding: 0;
    width: 758px;
    background-color: #306a82;
}  
/*Main navigation li tag Styling*/
#mainNav li {
    float: left;
}      
/*Main navigation "a" tag Styling*/    
#mainNav li a {
    display:block;
    color: black;
    text-align: center;
    padding: 9px 10px;
    text-decoration: none;
}     
/*Main navigation hover Styling*/    
#mainNav li a:hover:not(.active) {
    background-color: #80cff0;
    transition: 0.5s;
}
/*Body Styling*/
body {
    background-image: url("../Images/BackgroundImage.jpg");
    margin: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 13pt;
    color: black;
} 
/*Image Styling*/
img{
    width: 650px;
    height: auto;
} 
/*Table Styling*/
table, td, th {
    display: grid;
    grid-template: auto;
    grid-template-columns: auto;
    grid-template-rows: auto;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    margin: 0px;
    font-size: 12pt;
    border: 1px solid #306a82;
    margin: 1px;
    padding: 2px;
}  
table {
    width: 100%;
    border-collapse: collapse;
}       
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) 
{
/*Logo Image Styling*/    
#mainHeader img{
    width: 164px;
    height: 102px;    
    border-top: 0;
}
/*Main navigation Styling*/
#mainNav ul {
    list-style-type: none;
    margin-left: 0px;
    padding: 0;
    width: 1015px;
    background-color: #306a82;
}  
/*Main navigation li tag Styling*/
#mainNav li {
    float: left;
}      
/*Main navigation "a" tag Styling*/    
#mainNav li a {
    display:block;
    color: black;
    text-align: center;
    padding: 9px 10px;
    text-decoration: none;
}     
/*Main navigation hover Styling*/    
#mainNav li a:hover:not(.active) {
    background-color: #80cff0;
    transition: 0.5s;
}
/*Body Styling*/
body {
    background-image: url("../Images/BackgroundImage.jpg");
    margin: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 13pt;
    color: black;
}
/*Image Styling*/
img{
    width: 920px;
    height: auto;
} 
/*Table Styling*/
table, td, th {
    display: grid;
    grid-template: auto;
    grid-template-columns: auto;
    grid-template-rows: auto;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    margin: 0px;
    font-size: 12pt;
    border: 1px solid #306a82;
    margin: 1px;
    padding: 2px;
}  
table {
    width: 100%;
    border-collapse: collapse;
}     
}
